@model Kalkulator.Models.Calc

@{
    ViewData["Title"] = "Kalkulator";
}

<form action="Calc">
    <input type="number" asp-for="Number1" />1 Liczba
    <input type="number" asp-for="Number2" />2 Liczba
    <input type="submit" name="Result" value="Add"/>
    <input type="submit" name="Result" value="Remove" />
 
</form>

@ViewBag.Result